.avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.avar-div {
    right: -40%;
}

.user-name {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo {
    margin-left: 40px;
    width: 150px;
}

.bar-link {
    margin-right: 10px;
}

.bg-light-blue {
    background-color: rgb(30, 134, 253);
}

.bg-main {
    background-image: url('../image/back-img.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1050px;

}

.bg-blur {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.504);
    border: 2px solid white;
    border-radius: 5px;
}

.bg-text {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.199);
}

.danhmuc {
    font-size: 25px;
    text-align: center;
}

.dro {
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.422);
}

.white-text {
    color: white !important;
}


.mar-top {
    margin-top: 10px;
}

.main {
    padding-right: 10% !important;
    padding-left: 10% !important;
}

.padding {
    padding: 5px;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex !important;
}

.search-box {
    margin-left: 100px;
}

.search-in {
    border: 2px solid gray;
    border-radius: 25px 0 0 25px;
}

.search {
    background-color: white;
    padding: 2px 12px 3px 12px;
    border-radius: 0 25px 25px 0;
    border: 2px solid gray;
    border-left: 0px;
    font-size: 20px;
}

.search:hover {
    background-color: rgba(0, 0, 0, 0.307);
}

.nut {
    vertical-align: middle;
    line-height: 1.5;
    border-radius: 0.25rem;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid White;
    padding: 6px 12px 6px 12px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.nut a {
    color: white;
}

.nut:hover {
    background-color: rgba(189, 189, 189, 0.627);
    color: black !important;
}

.chu {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none !important;
}

.chu:hover {
    color: black;
}

.anh_product img {
    width: 100px !important;
}

.nut:hover {
    color: black;
}

.table tr td {
    color: white;
    border-bottom: 1px solid white;
}

.trash {
    width: 100px;
    position: fixed;
    z-index: 2000;
    right: 0.1%;
    bottom: 0.3%;
}

.quanti {
    width: 50px;
    height: 34px;
}

.quan-btn {
    padding: 5px 12px 5px 12px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none !important;
    color: white;
    border-radius: 0.25rem;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(253, 253, 253, 0.434);
}

.quan-btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

/* responsive */
@media only screen and (max-width: 768px) {
    .bg-main {
        height: 500px;

    }

    .logo {
        margin-left: 10px;
        width: 150px;
    }

    .search-in {
        width: 170px !important;
    }

    .search-box {
        margin-left: 10px;
    }

    .user-name {
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .trash {
        width: 90px;
        right: 0%;
    }

    .nut {
        padding: 3px 6px 3px 6px;
    }

    .bg-text {
        font-size: 9px;
    }

    .anh_product img {
        width: 50px !important;
    }

    .quanti {
        width: 40px;
        height: 24px;
    }

    .quan-btn {
        padding: 1px 2px 1px 2px;
        font-size: 8px;
        font-weight: bold;
    }

    .chu {
        font-size: 10px;
    }

    .avar-div {
        right: -2%;
    }
}