.avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.avar-div {
    margin-left: 10%;
}

.user-name {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo {
    margin-left: 40px;
    width: 150px;
}

.bar-link {
    margin-right: 10px;
}

.bg-light-blue {
    background-color: rgb(30, 134, 253);
}

.bg-blur {
    filter: blur(8px);
}

.bg-main {
    background-image: url('../image/back-img.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;

}

.bg-text {
    font-weight: bold;
    color: white;
}

.div-bg {
    background-color: rgb(0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0.337) !important;
    height: 660px;
}

.white-text {
    color: white !important;
}


.mar-top {
    margin-top: 10px;
}

.main {
    padding-right: 10% !important;
    padding-left: 10% !important;
}

.padding {
    padding: 5px;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex !important;
}

.search-box {
    margin-left: 100px;
}

.search {
    border-radius: 10px !important;
}

.nut {
    vertical-align: middle;
    line-height: 1.5;
    border-radius: 0.25rem;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid White;
    padding: 6px 12px 6px 12px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.nut a {
    color: white;
}

.nut:hover {
    background-color: rgba(189, 189, 189, 0.627);
    color: black !important;
}

.chu {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none !important;
}

.chu:hover {
    color: black;
}

.anh_product img {
    width: 100px !important;
}

.nut:hover {
    color: black;
}